@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400&family=Bowlby+One&display=swap');

:root {
    --white: #FFFFFF;
    --orange: #7F52FF;
    --black: #414141;
    --blue: #3e53a6;
}

html {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--black);
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 1rem;
}

main {
    flex: 1;
}

section {
    padding: 2rem 0;
}

footer {
    padding: 2rem 0;
    background-color: var(--black);
    color: var(--white);
}

.container {
    padding: 0 3rem;
    margin: 0 auto;
    max-width: 65rem;
}

.movie-poster {
    height: 250px;
    background-size: cover;
}

.showcase-container {
    position: relative;
    display: grid;
    gap: 16px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.showcase-container__cover {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.round-container {
    display: flex;
    justify-content: space-around;
}

.movie-card {
    display: flex;
    flex-direction: column;

    width: 200px;

    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}








